/* Main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.all {
    background: linear-gradient(skyblue, beige);
    margin-top: 3rem;
    height: 115rem;

}

body {
    background-color: green;

}

/* Nav Bar */
.navBar {
    overflow: hidden;
    background-color: beige;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;


}


/* Left Side Title */
.webTitle {
    display: flex;
    position: static;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0;
    width: 30rem;
    height: 3rem;


}

#hmTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}


/* Palosand Gif */
#sandygast-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
    width: 2.7rem;


}

#sandygast-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
    width: 2.7rem;


}


/* Buttons */
.button-1 {
    display: flex;
    float: right;
    justify-content: center;
    align-items: flex-end;
    margin-right: .5rem;
    width: 8rem;


}

#b1 {
    border-radius: 16px;
    background-color: beige;
    border: 2px solid black;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 1px 20px 2px lightgrey;
    transition: .5s;

}

#b1:hover {
    background-color: beige;
    border: 2px solid #0300DA;
    box-shadow: 0 1px 20px 2px #0300DA;
    color: #0300DA;
    font-size: 25px;
    padding: 5px 10px;

}

.button-2 {
    display: flex;
    float: right;
    justify-content: center;
    align-items: flex-end;
    margin-right: .5rem;
    width: 9rem;


}

#b2 {
    border-radius: 16px;
    background-color: beige;
    border: 2px solid black;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 1px 20px 2px lightgrey;
    transition: .5s;

}

#b2:hover {
    background-color: beige;
    border: 2px solid #FF72E5;
    box-shadow: 0 1px 20px 2px #FF72E5;
    color: #FF72E5;
    font-size: 25px;
    padding: 5px 10px;

}

.button-3 {
    display: flex;
    float: right;
    justify-content: center;
    align-items: flex-end;
    width: 14rem;


}

#b3 {
    border-radius: 16px;
    background-color: beige;
    border: 2px solid black;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 1px 20px 2px lightgrey;
    transition: .5s;

}

#b3:hover {
    background-color: beige;
    border: 2px solid #22FFB5;
    box-shadow: 0 1px 20px 2px #22FFB5;
    color: #22FFB5;
    font-size: 25px;
    padding: 5px 10px;

}

.button-4 {
    display: flex;
    float: right;
    justify-content: center;
    align-items: flex-end;
    margin-right: .1rem;
    width: 7rem;


}

#b4 {
    border-radius: 16px;
    background-color: beige;
    border: 2px solid black;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 1px 20px 2px lightgrey;
    transition: .5s;

}

#b4:hover {
    background-color: beige;
    border: 2px solid #8000FF;
    box-shadow: 0 1px 20px 2px #8000FF;
    color: #8000FF;
    font-size: 25px;
    padding: 5px 10px;

}

.button-5 {
    display: flex;
    float: right;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2rem;
    width: 10rem;


}

#b5 {
    border-radius: 16px;
    background-color: beige;
    border: 2px solid black;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 1px 20px 2px lightgrey;
    transition: .5s;

}

#b5:hover {
    background-color: beige;
    border: 2px solid #22FFB5;
    box-shadow: 0 1px 20px 2px #22FFB5;
    color: #22FFB5;
    font-size: 25px;
    padding: 5px 10px;

}

.portfolio-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}

#portfolio {
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
    padding: 1rem;

    border: 3px dotted black;

}

/* Project one */
.project-1-title-all {
    display: flex;
    justify-content: center;




}

#project-1-title {
    margin-top: 3rem;
    padding: 1rem;


}

.project-1-image-all {
    display: flex;
    padding-left: 20rem;
    padding-right: 20rem;



}

#project-1-image {
    float: left;
    height: 20rem;
    width: 20rem;


    box-shadow: 0 1px 20px 2px grey;
    border: 2px solid black;

}

.project-1-info-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;


    

}

#project-1-info {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;


    box-shadow: 0 1px 20px 2px grey;
    border: 2px solid black;
    border-radius: 2rem;

}

/* Project 2 */
.project-2-title-all {
    display: flex;
    justify-content: center;

}

#project-2-title {
    padding: 1rem;
    margin-top: 6rem;


}

.project-2-image-all {
    display: flex;
    padding-left: 20rem;
    padding-right: 20rem;



}

#project-2-image {
    float: left;
    height: 20rem;
    width: 20rem;


    box-shadow: 0 1px 20px 2px grey;
    border: 2px solid black;

}

.project-2-info-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;



}

#project-2-info {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;


    box-shadow: 0 1px 20px 2px grey;
    border: 2px solid black;
    border-radius: 2rem;

}

/* Project 3 */
.project-3-title-all {
    display: flex;
    justify-content: center;

}

#project-3-title {
    padding: 1rem;
    margin-top: 6rem;


}

.project-3-image-all {
    display: flex;
    padding-left: 20rem;
    padding-right: 20rem;



}

#project-3-image {
    float: left;
    height: 20rem;
    width: 20rem;


    box-shadow: 0 1px 20px 2px grey;
    border: 2px solid black;

}

.project-3-info-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;



}

#project-3-info {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;


    box-shadow: 0 1px 20px 2px grey;
    border: 2px solid black;
    border-radius: 2rem;

}